---
---

@import "minima";
.post-title {
    font-size: 18px;
}
.post-content {
    line-spacing: 10px;
}
.site-footer {
    border-top: 0.5px solid #e8e8e8;
    padding: 10px 0;
}
.page-content {
    padding: 10px 0;
}
.post-content {
    margin-bottom: 10px;
}
