---
---

@import "minima";
#site-header {
    background: rgba(0,0,0,0.1);
    width: 100%;
    border-bottom: 1px dashed #b5e853;
    padding: 20px 0;
    margin: 0 0 40px 0;
    color: #eaeaea;
}
.site-nav .page-link {
    color: #eaeaea;
    line-height: 1.5;
}
.post-title {
    font-size: 18px;
    margin-top: 10px;
    color: #b5e853;
}
.post-content {
    line-spacing: 10px;
}
.site-footer {
    border-top: 0.5px solid #e8e8e8;
    padding: 10px 0;
    color: #eaeaea;
}
.page-content {
    padding: 10px 0;
}
.post-content {
    margin-bottom: 10px;
}
a {
    color: #b5e853;
    text-decoration: underline;
}
a:hover {
    color: #eaeaea;
}
body {
    color: #eaeaea;
    background: #151515 url(../assets/image/bkg.png) 0 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #b5e853;
}
